<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.jku.at/isse/ecco/kefax/dotconfig/Dotconfig" 
       class = "at.jku.isse.ecco.kefax.dotconfig.dotconfig.DotconfigPackage"
       genModel = "model/generated/Dotconfig.genmodel" /> 
	
  </extension>



</plugin>
