<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.jknack.Antlr4.tool">
<stringAttribute key="antlr4.output" value="./target/generated-sources/antlr4" />
<stringAttribute key="antlr4.arguments" value="-listener -no-visitor -encoding UTF-8"/>
<stringAttribute key="antlr4.grammar" value="/at.jku.weiner.antlr4/src/at/jku/weiner/antlr4/Antlr4.g4"/>
<stringAttribute key="antlr4.vmArguments" value=""/>
</launchConfiguration>
