<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.kconfig.discoverer.kconfigProject2Model"
            icon="icons/kconfig.gif"
            label="%discoverer.label">
      </discoverer>
   </extension>
</plugin>
