<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="at.jku.weiner.kefax.main.menu.MainHandler"
           id="at.jku.weiner.kefax.main.command"
           name="MainCommand">
     </command>
     <command
		      defaultHandler="at.jku.weiner.kefax.main.menu.SetLogLevelCommand"
		      id="at.jku.weiner.kefax.main.menu.setLoglevelCmd"
		      name="Set log level">
		   <commandParameter
		         id="org.eclipse.ui.commands.radioStateParameter"
		         name="State"
		         optional="false">
		   </commandParameter>
		   <state 
		   		id="org.eclipse.ui.commands.radioState">
		        <class class="org.eclipse.ui.handlers.RadioState">
		        	<parameter
		               name="default"
		               value="LOG_LEVEL_INFO">
		        	</parameter>
		        	<parameter
		               name="persisted"
		               value="false">
		         </parameter> 
		        </class>
		   </state>
	</command>
     <command
           defaultHandler="at.jku.weiner.kefax.main.menu.CleanUpCommand"
           id="at.jku.weiner.kefax.main.menu.cleanup"
           name="CleanUp">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:org.eclipse.ui.main.menu">
        <menu
              id="at.jku.weiner.kefax.main.filemenu"
              label="KeFaX" />
     </menuContribution>
  </extension>
  <extension
  		 point="org.eclipse.ui.menus">
     <menuContribution
   		allPopups="false"
   		locationURI="menu:at.jku.weiner.kefax.main.filemenu?after=at.jku.weiner.kefax.main.menu.cleanup">
       <command
             commandId="at.jku.weiner.kefax.main.command"
             label="9.) Discovering KeFaX"
             style="push"
             tooltip="Start discovering">
       </command>
      </menuContribution>
   </extension>
   <extension
   		point="org.eclipse.ui.menus">
   	<menuContribution
   		allPopups="false"
   		locationURI="menu:at.jku.weiner.kefax.main.filemenu?before=at.jku.weiner.kefax.gitclone.command">
   		<!-- TODO: add demo mode run commands here -->	
   		
   		
       <menu
             id="at.jku.weiner.kefax.main.menu.loglevel"
             label="Set log level">
               <command
		            commandId="at.jku.weiner.kefax.main.menu.setLoglevelCmd"
		            label="None"
		            style="radio">
		         <parameter
		               name="org.eclipse.ui.commands.radioStateParameter"
		               value="LOG_LEVEL_NONE">
		         </parameter>
		      </command>
		      <command
		            commandId="at.jku.weiner.kefax.main.menu.setLoglevelCmd"
		            label="Errors only"
		            style="radio">
		         <parameter
		               name="org.eclipse.ui.commands.radioStateParameter"
		               value="LOG_LEVEL_ERROR">
		         </parameter>
		      </command>
		      <command
		            commandId="at.jku.weiner.kefax.main.menu.setLoglevelCmd"
		            label="Info (Normal logging)"
		            style="radio">
		         <parameter
		               name="org.eclipse.ui.commands.radioStateParameter"
		               value="LOG_LEVEL_INFO">
		         </parameter>
		      </command>
		       <command
		            commandId="at.jku.weiner.kefax.main.menu.setLoglevelCmd"
		            label="Debug"
		            style="radio">
		         <parameter
		               name="org.eclipse.ui.commands.radioStateParameter"
		               value="LOG_LEVEL_DEBUG">
		         </parameter>
		      </command> 
		       <command
		            commandId="at.jku.weiner.kefax.main.menu.setLoglevelCmd"
		            label="Trace (even more debugging)"
		            style="radio">
		         <parameter
		               name="org.eclipse.ui.commands.radioStateParameter"
		               value="LOG_LEVEL_TRACE">
		         </parameter>
		      </command> 
		      
       </menu>
       <separator
		      	name="separator-id"
		      	visible="true">
		      </separator>
     </menuContribution>
  </extension>
    <extension
   		point="org.eclipse.ui.menus">
   	<menuContribution
   		allPopups="false"
   		locationURI="menu:at.jku.weiner.kefax.main.filemenu?after=at.jku.weiner.kefax.infra.command">
       <command
             commandId="at.jku.weiner.kefax.main.menu.cleanup"
             label="8.) Clean up tmp-discovery directory"
             style="push">
       </command>
     </menuContribution>
  </extension>
 	
</plugin>
