<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	
	<extension point="org.eclipse.emf.ecore.generated_package">
	
		<package 
			uri = "http://www.jku.at/weiner/c/preprocess/Preprocess" 
			class = "at.jku.weiner.c.preprocess.preprocess.PreprocessPackage"
			genModel = "model/custom/Preprocess.genmodel" /> 
	
	</extension>
	
</plugin>
