<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.cdt.discoverer.actions.DiscoverCDTFromIResource"
            icon="icons/cdtdev_obj.gif"
            label="%discoverer.label">
      </discoverer>
   </extension>
   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.cdt.discoverer.actions.DiscoverCDTFromIFile"
            icon="icons/cdtdev_obj.gif"
            label="%discoverer.label">
      </discoverer>
   </extension>
   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.cdt.discoverer.actions.DiscoverCDTFromICContainer"
            icon="icons/cdtdev_obj.gif"
            label="%discoverer.label">
      </discoverer>
   </extension>
    <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.cdt.discoverer.actions.DiscoverCDTFromIFolder"
            icon="icons/cdtdev_obj.gif"
            label="%discoverer.label">
      </discoverer>
   </extension>
</plugin>
