<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="at.jku.weiner.kefax.gitclone.GitCloneAction"
           id="at.jku.weiner.kefax.gitclone.command"
           name="Git clone command">
     </command>
      <command
		      defaultHandler="at.jku.weiner.kefax.gitclone.ReUseExistingLinuxSrc"
		      id="at.jku.weiner.kefax.main.menu.reuseexistinglinuxsrc"
		      name="Re-use existing Linux source code">
			   <state
			         class="org.eclipse.ui.handlers.RegistryToggleState:false"
			         id="org.eclipse.ui.commands.toggleState">
			   </state>
			</command>
  </extension>
  
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:org.eclipse.ui.main.menu">
        <menu
              id="at.jku.weiner.kefax.main.filemenu"
              label="KeFaX" />
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:at.jku.weiner.kefax.main.filemenu">
           <command
                 commandId="at.jku.weiner.kefax.gitclone.command"
                 label="1.) Checkout linux source code (git clone)"
                 style="push"
                 tooltip="Checkout linux source code (git clone)">
           </command>
          <command
                  commandId="at.jku.weiner.kefax.main.menu.reuseexistinglinuxsrc"
                  label="Re-use existing Linux source code"
                  style="toggle">
       </command>
       </menuContribution>
     </extension>
</plugin>
